* {
  font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.hero {
  height: 580px;
}

.hero_contents {
  margin-left: 90px;
  padding-top: 240px;
  height: 190px;
}

.hero_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
